* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lt-blue: #FBFDF7;
    --med-blue: #B7C5E2;
    --dk-blue: #2C3036;
    --lt-purple: #F6ECF5;
    --med-purple: #8083AA;
    --dk-purple: #635F87;

    --content-left-padding: 48px;
    --main-background-color: var(--med-blue);
    --form-background-color: var(--lt-blue);
    --btn-color: var(--dk-blue);
    --body-font-color: var(--dk-blue);
    --drop-shadow: var(--med-purple);
    --accent-color: #FFA93B;
}

a { color: var(--lt-blue); }

a:hover { text-decoration: wavy underline var(--lt-blue) 1px;}

a:focus { outline: 2px dotted var(--dk-purple); }

@font-face {
    font-family: "death";
    src: url("fonts/GrindAndDeath_Demo.ttf") format('TrueType');
    font-style: normal;
    font-weight: normal;
  }

html, body {
    height: 100%;
    width: 100%;
    display: flex;

    font-family: system-ui, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    line-height: 1.25;
    color: var(--body-font-color);
}

button,
input {
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.sidebar-container {
    width: 37%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;
    background: var(--dk-blue) url(images/NASA_catseye.jpg) center;
}

.logo-container {
    height: 76%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container > img {
    width: 200px;
    filter: drop-shadow(0 0 10px var(--accent-color));
}
.logo-container > span {
    margin-top: 36px;
}

.logo-container .logo {
    font-family: death;
    color: var(--accent-color);
    font-size: 7rem;
    filter: drop-shadow(0 0 26px white);
}

.credits-container {
    font-size: .9rem;
    padding: 0 0 18px 0;
    text-align: center;
}

.content-container {
    width: 63%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header, footer, content {

    padding-left: var(--content-left-padding);
}

header {
    height: 38%;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: var(--main-background-color);
}

content {
    flex: 1;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: var(--form-background-color);
    filter: drop-shadow(1px 1px 3px var(--drop-shadow));
}

footer {
    flex: 1;
    padding-top: 28px;

    background-color: var(--main-background-color);
}

.header-text, .form-container, .footer-text {
    max-width: 700px;
}

.header-text > h1 {
    margin: 20px 0 20px 0;
}

.header-text > h1:first-child {
    font-size: 1.7rem;
    font-weight: 600;
}

.header-text > h1:nth-child(2) em,
.header-text > h1:nth-child(3) em > i {
    text-decoration: var(--lt-blue) wavy underline 1px;
}

.header-text > h1:first-child em {
    color: var(--accent-color, coral);
    font-family: death;
    font-size: 1.9rem;
    margin: 0 5px;
    filter: drop-shadow(0 0 5px var(--dk-purple));
}

.form-container {
    width: 550px;
    padding-bottom: 20px;
}

.form-container h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.form-box {
    display: inline-block;
    margin: 8px 0 8px 0;
    width: 250px;
}

label {
    display: block;
    width: 60%;
    font-size: .75rem;
    margin-bottom: 2px;
    text-transform: uppercase;
}

input {
    height: 1.8rem;
    padding: .3rem;
    width: 100%;

    background-color: var(--form-background-color);
    border: 1px solid var(--main-background-color);
    border-radius: 3px;
}

input:invalid {
    border: 1px solid coral;
}

input:focus {
    outline: none;
    border-color: var(--med-purple);
    filter: drop-shadow(2px 2px 2px var(--drop-shadow));
}

input::placeholder {
    color: var(--med-blue);
    font-style: italic;
}

input + span {
    position: relative;
}

input:required + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "(required)";
    color: var(--med-blue);
    padding: 5px 10px;
    top: -26px;
    left: -60px;
    font-style: italic;
}

.footer-text > p {
    margin-top: 1.6rem;
}

footer button {
    font-size: 1.1rem;
    padding: .4rem 3rem .45rem 3rem;

    color: var(--form-background-color);
    background-color: var(--btn-color);
    border: 0;
    border-radius: 5px;
    cursor: pointer;

    filter: drop-shadow(3px 3px 2px var(--drop-shadow));

    position: relative;
}

footer button:hover,
footer button:focus {
    outline: 0;
    background-color: var(--dk-purple);
}

footer button:active {
    background-color: var(--dk-purple);
    left: 2px;
    top: 2px;
    filter: drop-shadow(0 0 0);
}