* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lt-blue: #FBFDF7;
    --med-blue: #B7C5E2;
    --dk-blue: #2C3036;
    --lt-purple: #F6ECF5;
    --med-purple: #8083AA;
    --dk-purple: #635F87;

    --content-left-padding: 48px;
    --main-background-color: var(--med-blue);
    --form-background-color: var(--lt-blue);
    --btn-color: var(--dk-blue);
    --body-font-color: var(--dk-blue);
    --drop-shadow: var(--med-purple);
}

a, a:visited, a:hover, a:active {
    color: white;
}

@font-face {
    font-family: "emily";
    src: url("fonts/EmilysCandy-Regular.ttf") format('TrueType');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "death";
    src: url("fonts/GrindAndDeath_Demo.ttf") format('TrueType');
    font-style: normal;
    font-weight: normal;
  }

html, body {
    height: 100%;
    width: 100%;
    display: flex;

    font-family: system-ui, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    line-height: 1.25;
    color: var(--body-font-color);
}

button,
input {
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.sidebar-container {
    width: 37%;
    height: 100%;
    padding-top: 180px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;
    background: darkblue url(images/NASA_catseye.jpg) center;
}

.logo-container {
    padding: 16px 0 16px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(45, 48, 54, 0.5); /*--dk-blue*/
}

.logo-container > img {
    width: 90px;
}
.logo-container > span {
    padding: 24px 0 0 22px;
}

.logo-container .logo {
    font-family: death;
    font-size: 5rem;
}

.credits-container {
    font-size: .9rem;
    padding: 0 0 18px 0;
    text-align: center;
}

.content-container {
    width: 63%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header, footer, content {
    flex: 1;
    padding-left: var(--content-left-padding);
}

header {
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: var(--main-background-color);
}

content {
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: var(--form-background-color);
    filter: drop-shadow(1px 1px 3px var(--drop-shadow));
}

footer {
    padding-top: 28px;

    background-color: var(--main-background-color);
}

.header-text, .form-container, .footer-text {
    max-width: 700px;
}

.header-text h1:last-child {
    margin: 20px 0 20px 0;
}

.form-container {
    width: 550px;
}

.form-container h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.form-box {
    display: inline-block;
    margin: 8px 0 8px 0;
    width: 250px;
}

label {
    display: block;
    font-size: .75rem;
    margin-bottom: 2px;
    text-transform: uppercase;
}

input {
    height: 1.8rem;
    padding: .3rem;
    width: 100%;

    background-color: var(--form-background-color);
    border: 1px solid var(--main-background-color);
    border-radius: 3px;
}

input:invalid {
    border: 1px solid coral;
}

input:focus {
    outline: none;
    border-color: var(--med-purple);
    filter: drop-shadow(2px 2px 2px var(--drop-shadow));
}

input::placeholder {
    color: var(--med-blue);
    font-style: italic;
}

.footer-text a {
    color: var(--btn-color);
}
.footer-text > p {
    margin-top: 1.6rem;
}

footer button {
    font-size: 1.1rem;
    padding: .4rem 3rem .45rem 3rem;

    color: var(--form-background-color);
    background-color: var(--btn-color);
    border: 0;
    border-radius: 3px;
    cursor: pointer;

    filter: drop-shadow(3px 3px 2px var(--drop-shadow));
}